<tlink rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<div class="alert alert-info" role="alert">
<h3>You posted <%= @product_count %> of the products</h3>
</div>
<div class="alert alert-info" role="alert">
<h3>There are <%= @category_count %> of the categories</h3>
</div>
</body>